<div class="row">
    <div class="col-2">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-default" 
                    (click)="decreaseYear()">
                <fa-icon [icon]="faAngleDown" size="lg"></fa-icon>
            </button>
        </div>
    </div>
    <div class="col-2">
        <div class="d-flex justify-content-center">
            <h4>
                {{currentDate | date:'yyyy'}}
            </h4>
        </div>
    </div>
    <div class="col-2">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-default increaseYear"
                    (click)="increaseYear()">
                <fa-icon [icon]="faAngleUp" size="lg"></fa-icon>
            </button>
        </div>
    </div>
    <div class="col-2">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-default"  
                    (click)="decreaseMonth()">
                <fa-icon [icon]="faAngleDown" size="lg"></fa-icon>
            </button>
        </div>
    </div>
    <div class="col-2">
        <div class="d-flex justify-content-center">
            <h4>
                {{currentDate | date:'LLLL'}}
            </h4>
        </div>
    </div>
    <div class="col-2">
        <div class="d-flex justify-content-center">
            <button type="button" class="btn btn-default" 
                    (click)="increaseMonth()">
                <fa-icon [icon]="faAngleUp" size="lg"></fa-icon>
            </button>
        </div>
    </div>
</div>